//color
$--white: #fafafa;
$--black: #343a3f;

$--gray-30: #e8ecef;
$--gray-40: #f1f4f6;
$--gray-50: #ebeced;
$--gray-400: #656d75;
$--gray-800: #4a5257;

$--blue-80: #e7f4fd;
$--blue-300: #a7d4f9;
$--blue-400: #2b96ec;

$--green-400: #2aac88;

$--yellow-400: #ffbf00;

//size
$width: 1050px;
$basis-border: 0.5px solid $--gray-400;
